@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,700&display=swap');
.backToPage{
  color: white;
  font-size: 20px;
  text-decoration: none;
}
.backToPage:hover{
  color: white;
  font-size: 25px;
  text-shadow: 3px 3px #517191;
  text-decoration: none;
}

p, h1, h2 {
  color: white;
}

body
{
  background-color: #181d45;
  font-family: 'Titillium Web', sans-serif;  
}

button {
  border: none;
  width: 250px;
  font-size: 19px;
  border-radius: 2px;
  padding: 10px;
  transition: all 1s ease 0s;
  border-radius: 3px;

}
button:hover{
  color: white;
  box-shadow: inset 0 0 0 2px white;
  background-color: transparent;
}

@media only screen and (min-width: 1000px) {
  /* Checkboxes */
  h3 {
    margin-top: -20px;
    width: 179px;
    padding: 10px;
    margin-left: 35%;
    /* -webkit-margin-start: 10%;
    margin-inline-start: 10%; */

  }

  label {
color: white;
    font-size: 20px;
    display: inline
  }

  .checker {
    display: inline
  }

  select {
    margin-left: 20px;
  }

  p {
    font-size: 20px;
    color: white;
    margin-bottom: 10px;
  }

  input {
    font-family: 'Titillium Web', sans-serif;  

    width: 250px;
    font-size: 15px;
    border: none;
    border-bottom: solid 1px #393c83;
    padding: 2px;
      border-radius: 4px;
    
  }
  #wrapper {
    margin: auto;
    width: 70%;
  }

  #footer{
    border: white;
    width: 100%;
    height: 50px;
  }


}

@media only screen and (max-width: 1000px) {

/* Dropdown meny */




  body{
    background-color: black;
  }


  #wrapper {
    background: white;
    width: 70%;
    border: 3px solid white;
    padding: 10px;
  }

  h3 
  {
    margin-top: -20px;
    background-color: white;
    width: 179px;
    padding: 10px;
    margin-left: 10%;

  }

  label {

    font-size: 20px;
    display: inline
  }

  .checker {
    display: inline
  }

  select {
    margin-left: 20px;
  }

  p {
    margin-left: 20px;
    font-size: 20px;
  }

  input {
    margin-left: 20px;
    width: 200px;
    font-size: 15px;
    border: none;
    border-bottom: solid 1px #393c83;
  }

  #app {
    color: #2c3e50;
  }

  #main {
    border: 1px solid #393c83;

    width: 300px;
  }

  #loadData {
    cursor: pointer;
    background-color: #393c83;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    position: absolute;
    right: 0;
    margin-right: 25%;
  }

  #saveButton {
    cursor: pointer;
    border: none;
    background-color: #393c83;
    color: white;
    padding: 12px 16px;
    margin: 20px;
    font-size: 16px;
  }

  #wrapper {
    background: white;
    margin: 10%;
    border: 3px solid white;
    padding: 10px;
  }


}
